.body{
    background-color: black;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
 
}

.title{
    font-size: 45px;
}

.h1{
    font-weight: 600;
    font-size: 30px;
}

.h2{
    font-weight: 100;
    line-height: normal;
    text-align: center;
}

h3{
    text-align: right;
    font-weight: 100;
    font-size: 14px;
}

.x{
    padding: 90px;
    max-width: 600x;
    text-align: center;
}


.y{
    padding: 50px;
    max-width: 400x;
    text-align: center;
    font-weight: 400;
}

.z{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 400x;
    text-align: center;
}

.w{
    text-align: center;
    font-size: 40px;
}

.hist{
    text-align: right;
    padding-top: 15px;
    font-size: 40px;
}

.oria{
    text-align: left;
    padding-top: 15px;
    font-size: 40px;
}

/*Menu*/
.header{
    width: 1200px;
    height: 100px;
    position: relative;
    top: 0px;
    background-image: linear-gradient(-45deg, #760076,  #100078);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo{
    padding-left: 15px;
    font-size: 50px;
    text-shadow: 0 0 15px #F1216F, 0 0 30px white;
}

.li{display: inline-block;
margin: 20PX;}

.a{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.a:hover{
    color: #F1216F;
    transition: 0.3s all;
}

.cabecalho{
    width: 1200px;
    height: 300px;
    left: 0px;
    top: 0px;
    background-image: url(../imgs/welcome.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

/*O que é*/
.intro{
    width: 600px;
    height: 500px;
    left: 0px;
    top: 0px;
    background-image: url(../imgs/planet2giphy.gif);
    background-size: 600px 500px;
    background-repeat: no-repeat;
    align-items: center;
}

.main{
    display:flex;
    flex-direction:row;
}

/*Como surgiu*/


.histh1{
    font-weight: 600;
    font-size: 30px;
    position: relative;
    z-index: 2;
}

.carrossel{
    width:1200px; /*referente a w da img*/
    height: 600px;/*referente a h da img*/
    overflow: hidden;
    outline: none;
     /*espaço fora*/
    padding: 0px;
    box-shadow: 10px 10px 35px rgb(54, 0, 54); /*eixo-x eixo-y espalhamento-sombra-em-px cor-sombra*/


}

.carrossel .ula{
    display: flex;
    list-style: none;
    width: 3600px; /*w ttl das imgs*/
    height: 600px; /*referente a h da img*/
}

.carrossel .lia{
    position: relative;
    animation: animacao 25s infinite ease-out;

}


@keyframes animacao {
    0% {left:0px;}
    30% {left: -50px;}
    45% {left: -1200px;}
    60% {left: -2400px;}
    80% {left: -2500px;}
    95% {left: -3600px;}
    100%{left:0px;}
}

.gif{
    width: 1200px;
}

/*Web 3.0*/
.webtres{
    
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.borda{
    border-right: 5px solid white;
    width: 400px;
    height: 250px;
    padding: 15px;
}

.aa{
    background-color:#2E1AB1 ;
}

.b{
    background-color:#F1216F ;
}

.c{
    background-color:#980098 ;
}

/*Vida Real*/

.halo{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.size{
    size: 600px;
}

.m{
    padding: 40px;
    max-width: 800x;
    text-align: center;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(45deg, #F1216F,#2136f1, #0010a0);
    text-align: center;
    align-items: center;
    margin-top: 30px;
}
